#cv {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.5em;

    p { 
        margin: 0;
        color: #000000;
    }
    
    .cv-section-heading { 
        font-weight: 900;
        font-size: var(--heading-size);
        margin-left: calc(var(--section-date-width) + var(--sm-padding));
        padding-bottom: var(--xs-padding);
        break-after: avoid;
        width: 100%;
    }
    
    .offset {
        margin-left: calc(var(--section-date-width) + var(--sm-padding));
    }
    
    .entry { 
        padding-bottom: var(--sm-padding);
        page-break-inside: avoid;
        display: flex;
        flex-direction: row;
        column-gap: var(--sm-padding);
    }
    
    .content {
        page-break-inside: avoid;
    }
    
    #service {
        .entry {
            padding-bottom: var(--xxs-padding);
        }
        .group {
            padding-bottom: var(--sm-padding);
            page-break-inside: avoid;
        }
    }
    
    .date {
        min-width: var(--section-date-width);
        font-weight: 300;
        font-size: var(--accent-font-size);
        text-align: end;
        line-height: var(--line-height);
    }
    
    .title {
        font-weight: 700;
        font-size: var(--font-size);
        margin-right: 5px;
        line-height: var(--line-height);
    }
    
    .description, .description > *{
        font-weight: 400;
        font-size: var(--subfont-size);
    }
    
    
    .context, .context > * { 
        font-size: var(--accent-font-size);
    }
    
    .award {
        font-style: italic;
        font-weight: 500;
        color: $award-color;
    }
    
    .links > a {
        padding-right: var(--xs-padding);
    }
    
    a {
        color: $link-color;
        text-decoration: none;
    }
    
    #personal-info { 
        display: flex;
        justify-content: space-between;
        padding-bottom: var(--lg-padding);
        height: 90px;
    }
    
    #contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0.5px;
    }
    
    #contact-info > div {
        margin: 0.5px;
    }
    
    #contact-info div:last-child {
        margin-top:auto;
    }
    
    #name { 
        font-family: 'Roboto Condensed', sans-serif;
        font-size: var(--title-size);
        font-weight: 700;
    }
    
    .first-name {
        margin-top: -5px;
    }
    
    .last-name {
        margin-top: -15px;
    }
    
    .address {
        font-weight: 300;
    }
    
    #talks .title {
        margin-left: calc(var(--section-date-width) + var(--sm-padding));
    }    
}