#intro {
    display: flex;
    flex-direction: row;
    max-width: 690px;
    justify-content: space-between;
    column-gap: calc(10 * $spacing);
    margin-top: calc(4 * $spacing);
    transition: gap 0.5s ease, margin-top 0.5s ease;
}

#intro-headshot-wrapper {
    flex: 0 0 200px;
}
  
#intro-text-wrapper {
    flex: 1 1 auto;
    min-width: 0;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    row-gap: calc(1.5 * $spacing);
    transition: flex 0.5s ease;
}

#intro-header {
    flex: 1 1 auto;
    min-width: 0;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    row-gap: calc(1.5 * $spacing);
    transition: min-width 0.5s ease, flex 0.5s ease;
}

#intro-headshot {
    width: 100%;
    aspect-ratio: 1.0;
    object-fit: cover;
    max-width: 200px;
    transition: max-width 0.5s ease, min-width 0.5s ease, width 0.5s ease;
}

#intro-title {
    margin-top: 0;
    margin-bottom: 0;
}

#intro-subtitle {
    margin-top: -10px;
    margin-bottom: 0;
}

#intro-text {
    transition: margin 0.5s ease;
}

#intro-text p {
    margin-bottom: calc(3 * $spacing);
}

.intro-links {
    margin-bottom: $spacing;
    transition: all 0.5s ease;
    .button {
        margin-right: $spacing;
        transition: all 0.5s ease;
    };
}

.statement-links {
    display: flex;
    flex-direction: column;
    column-gap: calc(10 * $spacing);
    width: 93%;
    font-family: $title-font;
    margin-bottom: calc(2 * $spacing);
    text-align: center;

    a {
        font-family: $title-font;
    }
}

.statement-links .button {
    margin-bottom: calc(1 * $spacing);
    width: calc(100% - 4 * $spacing);
    margin-right: 0;
}

#job-market {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: $title-font;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    color: $accent-font-color;
    transition: padding 0.5s ease, border-radius 0.5s ease;
}

#job-market-tag-line {
    width: 100%;
    margin-top: calc(2* $spacing);
    margin-bottom: calc(3 * $spacing);
    text-align: center;
    
    
    .highlight {
        font-weight: bold;
        font-size: $tag-font-size;
    }
}

@media only screen and (max-width: $screen-width-threshold) {

    #intro {
        display: flex;
        flex-wrap: wrap;
        gap: calc(3 * $spacing);
        margin-top: calc(6 * $spacing);
        justify-content: center;
    }

    .intro-links {
        row-gap: calc(1 * $spacing);
    }

    #intro-headshot-wrapper, #intro-text-wrapper, .intro-column {
        display: contents;
    }

    #intro-headshot { 
        order: 1;
        flex: 1 1 0;
        min-width: 80px;
        max-width: 80px;
    }

    #intro-header {
        order: 2;
        flex: 1 1 240px;
        min-width: 240px;
        // white-space: nowrap;
    }

    #job-market {
        order: 3;
        flex: 0 0 100%;
        background-color: $link-color-light;
        padding: 0px calc(2 * $spacing);
        border-radius: calc(2 * $spacing);
        box-sizing: border-box;
    }

    #job-market p {
        text-align: center;
    }

    #intro-text {
        order: 4;
        flex: 0 0 100%;
    }

    .statement-links {
        flex-direction: row;
        column-gap: calc(4 * $spacing);
        width: 100%;
        text-align: left;

        a {
            border: solid $link-color-light 0;
            border-bottom-width: 1.5px;
        }

        .button {
            width: auto;
            padding: 0;
            margin: 0;
        }
    }

    #job-market-tag-line {
        margin-bottom: calc(1 * $spacing);
        text-align: left;
    }

    .clickable:hover {
        border: solid $link-color 0;
        border-bottom-width: 1.5px;
    }

    .button:hover {
        background-color: $link-color-light;
        cursor: auto;
    }

}

