
#intro {
    display: flex;
    flex-direction: row;
    max-width: 690px;
    justify-content: space-between;
    column-gap: calc(10 * $spacing);
    margin-top: calc(4 * $spacing);
}

#intro-headshot-wrapper {
    flex: 0 0 200px;   // shorthand for: flex-grow:0; flex-shrink:0; flex-basis:260px
}
  
#intro-text-wrapper {
    /* Let text fill the rest, but allow it to shrink and wrap instead of pushing */
    flex: 1 1 auto;
    min-width: 0;                 // crucial so text can shrink
    overflow-wrap: break-word;    // handles long words/URLs
    display: flex;
    flex-direction: column;
    row-gap: calc(1.5 * $spacing);
}

#intro-header {
    flex: 1 1 auto;
    min-width: 0;                 // crucial so text can shrink
    overflow-wrap: break-word;    // handles long words/URLs
    display: flex;
    flex-direction: column;
    row-gap: calc(1.5 * $spacing);
}

#intro-headshot {
    width: 100%;
    aspect-ratio: 1.0;
    object-fit: cover;
    max-width: 200px;
}

#intro-title {
    margin-top: 0;
    margin-bottom: 0;
}

#intro-subtitle {
    margin-top: -10px;
    margin-bottom: 0;
}

.intro-links {
    // margin-top: $spacing;
    margin-bottom: $spacing;
    // justify-content: space-between;
    .button {
        margin-right: $spacing;
    };

}

.statement-links {
    display: flex;
    flex-direction: column;
    column-gap: calc(10 * $spacing);
    width: 93%;
}

.statement-links .button {
    margin-bottom: calc(1 * $spacing);
    width: calc(100% - 4 * $spacing);
    margin-right: 0;
}

#job-market {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#job-market-tag-line {
    width: 100%;
    margin-top: calc(2* $spacing);
    margin-bottom: calc(3 * $spacing);
    text-align: center;
    font-family: $title-font;
    font-size: var(--tag-font-size)
    // text-transform: uppercase;
}

@media only screen and (max-width: $screen-width-threshold) {

    #intro {
        display: flex;
        flex-wrap: wrap;
        gap: calc(3 * $spacing);
        margin-top: calc(6 * $spacing);
        justify-content: center;
    }

    .intro-links {
        row-gap: calc(1 * $spacing);
    }

    #intro-headshot-wrapper, #intro-text-wrapper, .intro-column {
        display: contents;
    }

    #intro-headshot { 
        order: 1;
        flex: 1 1 0;
        min-width: 80px;
        max-width: 80px;
    }

    #intro-header {
        order: 2;
        flex: 1 1 240px;
        min-width: 240px;
        // white-space: nowrap;
    }

    #job-market {
        order: 3;
        flex: 0 0 100%;
    }

    #job-market p {
        text-align: left;
    }

    #intro-text {
        order: 4;
        flex: 0 0 100%;
    }

    .statement-links {
        flex-direction: row;
        column-gap: calc(1 * $spacing);
        width: 100%;

        > * {
            font-size: 10.5pt;
        }
    }

    #job-market-tag-line {
        margin-bottom: calc(1 * $spacing);
    }

}

