
body {
}

header {
    border-bottom: 1px solid #e8e8e8d3;
    box-shadow: 0px 1px 2px #e8e8e8d3;
}

#main {
    margin: 3em;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(8 * $spacing);
}

h1 {
    font-family: $title-font;
    font-weight: $title-font-weight;
    font-size: var(--title-font-size);
    color: $primary-font-color;
    margin: $spacing 0;
}

h2, h3 {
    font-family: $heading-font;
    font-size: var(--heading-font-size);
    color: $primary-font-color;
    font-weight: $heading-font-weight;
    margin: $spacing 0;
}

p, a {
    font-family: $body-font;
    font-size: var(--body-font-size);
    color: $accent-font-color;
    font-weight: $body-font-weight;
}

p { 
    margin: $spacing 0;
}

a { 
    color: $link-color;
    text-decoration: none;
}

img {
    border-radius: calc($border-radius * 32);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: calc(2 * $spacing);
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: calc(2 * $spacing);
}

.button {
    background-color: $link-color-light;
    width: fit-content;
    padding: $spacing calc($spacing * 2);
    border-radius: calc(4 * $border-radius);
    margin-right: calc($spacing * 2);
    text-align: center;
}

.button:hover {
    background-color: $link-color-hover;
    cursor: pointer;
}

.section {
    // padding: calc($spacing * 2);
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    width: 100%;
}

.section-title {
    font-family: $title-font;
    font-size: $subtitle-font-size;
    color: $primary-font-color;
    font-weight: $title-font-weight;
    align-self: flex-start;
    text-transform: uppercase;
}

.section-subtitle {
    font-family: $title-font;
    font-size: $body-font-size;
    color: $accent-font-color;
    font-weight: $title-font-weight;
    align-self: flex-start;
    text-transform: uppercase;
    margin-top: calc(5 * $spacing);
    margin-bottom: calc(2 * $spacing);
}

#site-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.888);
}

#site-header-content {
    width: var(--max-width);
    padding: calc(2 * $spacing) calc(4 * $spacing);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#site-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: calc(2 * $spacing);
}

#site-nav a {
    margin-left: calc(4 * $spacing);
}

.icon-button {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: calc(1.5 * $spacing);
}

#site-header-title {
    font-family: $title-font;
    font-weight: $title-font-weight;
    font-size: $subtitle-font-size;
    color: $primary-font-color;
    text-transform: uppercase;
}

#site-nav > * {
    font-family: $title-font;
    font-size: $tag-font-size;
    color: $accent-font-color;
    font-weight: $body-font-weight;
    padding: $spacing calc($spacing * 2);
    border-radius: calc(4 * $border-radius);
}

#site-nav > *:hover {
    // color: $link-color;
    background-color: $light-grey-2 !important;
}

.active {
    // font-weight: bold !important;
    background-color: $light-grey-2 !important;
}

p a:hover, span a:hover {
    border: solid $link-color 0;
    border-bottom-width: 1.5px;
}