hr {
    margin: -10px 0 5px 0;
    width: 3rem;
    height: 2px;
    border: none;
    background-color: $dark-grey-2
}

#publications {
    row-gap: calc(4 * $spacing);
    margin-top: calc(4 * $spacing);
}

.publication {
    display: flex;
    flex-direction: row;
    column-gap: calc(2 * $spacing);
    border-radius: $border-radius;
    width: 100%;
    max-width: 950px;
    transition: all .2s ease-in-out;
    margin-bottom: calc(2 * $spacing);
}



.publication-author, .publication-venue, .publication-award, .publication-link {
    font-size: $accent-font-size;
}

.publication-link {
    font-size: 10pt;
}


.publication-title {
    color: $dark-grey-2;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.publication-authors {
    margin-top: 0;
}

.publication-award {
    color: $award-color;
}

.publication-img {
    height: $img-height;
    border: solid $light-grey-3 1px;
    border-radius: $border-radius;
}

.publication-info { 
    display: flex;
    flex-direction: column;
}
