---
---

/* Layout Variables */
$min-width: {{ site.min_width }}px;
$screen-width-threshold: 745px;
$spacing: 4px;
$border-radius: 6px;
$img-height: 120px;

/* Font Families */
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;
$title-font: 'Roboto Condensed', sans-serif;

/* Font Weights */
$title-font-weight: 800;
$heading-font-weight: 400;
$body-font-weight: 400;

/* Colors - Greyscale */
$light-grey-1: #F9F9F9;
$light-grey-2: #f3f3f3;
$light-grey-3: #eaeaea;
$light-grey-4: #dddddd;
$light-grey-5: #CACACA;

$dark-grey-1: #5b5b5b;
$dark-grey-2: #3D3E41;
$dark-grey-3: #a5a5a5;

/* Colors - Theme */
$background-color: white;
$primary-font-color: black;
$accent-font-color: $dark-grey-1;

$link-color: #7393c4;
$link-color-light: #eff5ff;
$link-color-hover: #e7eef9;
$award-color: #E7B100;

html {
    --max-width: 950px;
    --title-font-size: 32pt;
    --heading-font-size: 18pt;
    --subtitle-font-size: 16pt;
    --body-font-size: 12pt;
    --accent-font-size: 10pt;
}


@import "main";
@import "intro";
@import "publications";
@import "cv";
@import "news";


/* Mobile Styles */
@media only screen and (max-width: $screen-width-threshold) {
    
    html {
        --title-font-size: 28pt;
        --heading-font-size: 16pt;
        --subtitle-font-size: 14pt;
        --body-font-size: 12pt;
        --accent-font-size: 10pt;
    }

    #main {
        margin-left: calc(4 * $spacing);
        margin-right: calc(4 * $spacing);
    }

    body {
    }

    .publication-img {
        width: 100%;
        height: auto;
    }

    .publication {
        display: grid;
        grid-template-columns: 30% auto;
    }
}